<div class="flex flex-row justify-between">

  <a [routerLink]="['/workpt']" class="p-8">Work part-time.</a>

  <div class="text-center">
    <a [routerLink]="['/']">
      <h1 class="self-center text-3xl p-4">flexdevs.com</h1>
    </a>
    <h1 class="self-center text-1xl p-4">The #1 job board for part-time software engineering, design, and tech jobs</h1>
  </div>

  <a class="p-8" [routerLink]="['/hirept']" class="button fancy-button p-8">Why hire part-time?</a>

</div>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
